.txt_titulo{
    margin: 0;
    padding: 0;
}
.contenedor{
    margin-top: 8em;
}
header{
    padding: 2em;
}
header .txt_titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
section.notas_contenedor{
    overflow-y: scroll;
    height: 400px;
    padding: 10px;
}
section.notas_contenedor::-webkit-scrollbar {
    width: 7px;
}
section.notas_contenedor::-webkit-scrollbar-thumb {
    background: #0f8bf0;
    border-radius: 5px;
}
section .notas{
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    padding-top: .5em;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1em;
    position: relative;
    /*box-shadow: 0px .5px .5px  rgba(0, 0, 0, 0.25);*/
}
section .iconos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 1em;
    font-size: 24px;
}
.btn_agregar{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 1em;
    right: 1em;
    background: #22A7F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}.red{
    color: #DA5044;
}
.btn_agregar a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}
@media(min-width:920px){
    section .notas{
        width: 70%;
        position: relative;
    }
    .btn_agregar{
        right: 5em;
        bottom: 5em;
    }
}