<section class="l-section s-py-4 banner">
    <!-- Separación del contenido en columnas -->
    <div class="ed-grid lg-grid-2 row-gap s-gap-2 m-gap-4">
      <!-- Contenido de la columna 1 -->
      <div class="s-column s-main-center lg-main-start lg-cross-start s-center lg-left">
        <h1 class="txt_banner">Organiza tus dias llevando un control de todo</h1>
        <p class="subtitulo">Vive tus dias de una manera organizada y cómoda.</p>
        <!-- Botones -->
        <div class="s-main-center">
          <a [routerLink]="['/login']" class="button s-mr-2 s-mb-2 m-mb-0 btn-registrar">Registrar nueva Tarea</a>
          <a [routerLink]="['/documentacion']" class="button s-mb-2 m-mb-0 btn-document">Ver Documentacion</a>
        </div>
      </div>
      <!-- Contenido de la columna 2 -->
      <div>
        <div class="img-container s-ratio-16-9">
          <img class="s-radius-1" src="assets/img/fondo_banner.svg">
        </div>
      </div>
    </div>
  </section>